@font-face
{
    font-family: 'Roboto';
    src: url('/Roboto.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root
{
    /*
    color pallete
    https://lospec.com/palette-list/warm-summer
    */
    --black: #27201c;
    --white: #fdf7d5;

    --light-orange: #f2ce9a;
    --gray: #7e6d59;
    --brown: #a0563d;
}

body
{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    

    color: var(--black);

    background-color: var(--white);
    font-family: Roboto;
}

button
{
    color: var(--black);

    font-family: Roboto;

    background-color: rgba(0, 0, 0, 0);
    border: none;
}

button:hover
{
    background-color: var(--light-orange);
}

.Cube
{
    z-index: 1;
    position: absolute;
    width: 40vw;
    height: 40vw;
    background-color: var(--light-orange);
    transition: transform 0.1s linear;
    animation:
        spin 20s linear infinite;
}

@keyframes spin
{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.Title
{
    position: absolute;
    top: 11vw;
    right: 10vw;
    font-size: 7vw;
}

.Description
{
    position: absolute;
    top: 24vw;
    right: 13vw;
    font-size: 1vw;


    overflow: hidden;
    border-right: .15em solid var(--gray);
    white-space: nowrap;
    margin: 0 auto;

    letter-spacing: .15em;

    animation:
        blink-caret 0.5s step-end infinite,
        typing 12s steps(60, end) infinite;
}

@keyframes typing
{
    0% {width: 0}
    5% {width: 0}
    40% {width: 26%}
    60% {width: 26%}
    95% {width: 0}
    100% {width: 0}
}

@keyframes blink-caret
{
    from, to { border-color: transparent }
    50% { border-color: var(--gray); }
}

.Header
{
    margin-left: 1vw;
    margin-top: 0.4vw;
}
