@font-face
{
    font-family: 'Roboto';
    src: url('/static/fonts/Roboto.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}

:root
{
    /*
    color pallete
    https://lospec.com/palette-list/warm-summer
    */
    --black: #27201c;
    --white: #fdf7d5;

    --light-orange: #f2ce9a;
    --orange: #e2a25e;
    --gray: #7e6d59;
    --brown: #a0563d;
    --paperYellow:#fff3b0; 
}

html
{
    scrollbar-width: none;
}

body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; }

body
{
    height: 100%;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    

    color: var(--black);

    background-color: var(--white);
    font-family: 'Roboto', sans-serif;
}

img
{
    image-rendering: pixelated;
}

input
{
    border: none;
    font-size: 2vh;

    color: var(--black);

    caret-color: var(--black);
}

input:focus {
  outline: 3px solid var(--gray); /* adds a custom outline */
}

button {
    background-color: var(--orange);
    color: var(--black);
    border: none;
    padding: 0.4rem 0.8rem;
    font-size: 0.9rem;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

button:hover {
    background-color: var(--brown);
    color: var(--white);
    transform: scale(1.05);
}

table
{
    width: 90%;
    margin: auto;
    border-collapse: collapse;
}

th, td
{
    padding: 10px;
    border: 1px solid #333;
    text-align: left;
}

a
{
    color:var(--gray);
    text-decoration: none;
}

h1 
{
    text-align: center;
    margin-top: 2em;
    color: var(--black);
}

select
{
    background-color: var(--white);
    border-color: var(--gray);
    border-style: solid;
    border-radius: 0;
    border: 2px solid;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Important to remove any default margin */
}

/* For Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

#searchBar {
    width: 30%;
    padding: 8px;
}

.controls {
    margin-bottom: 1em;
}

.Colored:hover
{
    background-color: var(--gray);
}

.BackCube
{
    z-index: 1;
    position: absolute;
    width: 40vw;
    height: 40vw;
    background-color: var(--orange);
    transition: transform 0.1s linear;
    animation:
        spin 240s linear infinite;
}

.Cube
{
    z-index: 2;
    position: absolute;
    width: 40vw;
    height: 40vw;
    background-color: var(--light-orange);
    transition: transform 0.1s linear;
    animation:
        spin 240s linear infinite;
}

@keyframes spin
{
    0% {transform: rotate(0deg)}
    100% {transform: rotate(360deg)}
}

.TitleScreen
{
    position: absolute;
    left: 55vw;
    bottom: 50vh;
}

.Title
{
    position: relative;
    font-size: 7vw;
}

.Description
{
    position: relative;
    margin-top: -5vw;
    margin-left: 6vw;
    font-size: 1vw;

    overflow: hidden;
    border-right: .15em solid var(--gray);
    white-space: nowrap;

    letter-spacing: .15em;

    animation:
        blink-caret 0.5s step-end infinite,
        typing 12s steps(60, end) infinite;
}

@keyframes typing
{
    0% {width: 0}
    5% {width: 0}
    40% {width: 72%}
    60% {width: 72%}
    95% {width: 0}
    100% {width: 0}
}

@keyframes blink-caret
{
    from, to { border-color: transparent }
    50% { border-color: var(--brown); }
}

.Header
{
    margin-left: 1vw;
    margin-top: 0.4vw;
}

.BrowingImage {
    position: absolute;
    right: 45vw;
    bottom: -30vh;

    width: 35vw;
    height: auto;

    opacity: 0;
    transform: translateX(-10vw) scale(0.8);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.BrowingImage.visible {
    opacity: 1;
    transform: translateY(0) scale(1);
}