.SmallTitle
{
    position: relative;
    font-size: 4vw;
}

.BrowseBooks
{
    z-index: 2;
    position: absolute;
    right: 10vw;
    top: 120vh
}

.BrowseDescription
{
    font-size: 2vh;
}

.Login
{
    z-index: 2;
    position: absolute;
    right: 30vw;
    top: 220vh
}