.SmallTitle
{
    position: relative;
    font-size: 4vw;
}

.BrowseBooks
{
    z-index: 2;
    position: absolute;
    right: 10vw;
    top: 120vh
}

.BrowseDescription
{
    font-size: 2vh;
}

.Login
{
    width: 12vw;    
    margin: auto;
}

.LoginBetween
{
    margin-top: 20px;
}

.LoginButton
{
    text-align: center;
}