h1
{
    color:var(--brown)
}
button:hover
{
    background-color: none;
    transform: scale(1.05); 
}
.SmallTitle
{
    position: relative;
    font-size: 4vw;
}

.BrowseBooks
{
    z-index: 2;
    position: absolute;
    right: 10vw;
    top: 120vh
}

.BrowseDescription
{
    font-size: 2vh;
}

.Login
{
    width: 12vw;    
    margin: auto;
}

.LoginBetween
{
    margin-top: 20px;
}

.LoginButton
{
    text-align: center;
}

.HeaderBackground
{
    background-color: var(--light-orange);
    height: 10vh;
    width: 100vw;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
}

#bookTable {
    border-collapse: separate;
    border-spacing: 0 15px; /* vertical spacing between rows */
    width: 80%;
    color: var(--black);
    font-family: 'Roboto', sans-serif;
    background-color: transparent;
}

#bookTable tbody tr {
    background-color: var(--paperYellow);
    border: 1px solid var(--orange);
    overflow: hidden;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

#bookTable tbody tr:hover {
    transform: scale(1.01);
}

#bookTable th, #bookTable td {
    padding: 12px 16px;
    text-align: left;
    border-width: 0px 0px 0px 0.2vw;
    border-color: var(--orange);
}

#bookTable th {
    background-color: var(--light-orange);
    color: var(--black);
    font-weight: bold;
    text-transform: uppercase;
    border-style: solid;
}

#bookTable a {
    color: var(--brown);
    text-decoration: none;
    font-weight: bold;
}

#bookTable a:hover {
    text-decoration: underline;
    color: var(--gray);
}