<html>
    <head>
        <title>LibraLink</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='Css/Global.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='Css/SubTabs.css') }}">

        <script src="{{ url_for('static', filename='Scripts/MoveDownWhileScroll.js') }}" defer></script>
    </head>
    <body>
        <div class = "Header">
            <a href="/books">
                <button>Browse Books</button>
            </a>

            <a href="/login">
                <button>Sign In!</button>
            </a>

            <a href="/register">
                <button>Register</button>
            </a>

            <script>
            function scrollDown(_scroll){
                const scrollAmount = window.innerHeight * _scroll;
                window.scrollBy({
                    top: scrollAmount,
                    left: 0,
                    behavior: 'smooth'
                });
            }
            </script>
        </div>
        <img class="DownFast" src="{{ url_for('static', filename='Time.gif') }}" style="z-index: -2; width: 30vw; position: absolute; left: 10vw; top: 2.5vw;">
        <div class = "BackCube DownFast" style = "animation: none; left: 5vw; bottom: -25vh; transform:rotate(72deg)"></div>
        <div class = "BackCube DownFast" style = "left: -20vw; bottom: -5vh; animation-duration: 400s; animation-direction: reverse;"></div>
        <div class = "BackCube DownFast" style = "left: 25vw; bottom: -10vh; height: 40vh; animation-direction: reverse;"></div>

        <div class = "Cube" style = "left: -10vw; bottom: -15vw;"></div>
        <div class = "Cube" style = "left: 25vw; bottom: -25vw; animation-duration: 200s;"></div>
        <div class = "Cube" style = "left: 55vw; bottom: -35vw; animation-direction: reverse;"></div>
        <div class = "Cube" style = "left: 70vw; bottom: -35vw; animation-duration: 300s;"></div>
        <!--background cube-->
        <div class = "Cube" style = "bottom: -1400px; width:120vw; height: 1400; animation: none;"></div>
        <div class = "TitleScreen Down">
            <h1 class = "Title Down">LibraLink</h1>
            <h1 class = "Description Down">A simple library management system</h1>
        </div>
        <div class = "BrowseBooks">
            <h1 class = "SmallTitle">Browse Books</h1>
            <h2>Searching for books is as simple as being from a click away!</h2>
        </div>
    </body>
</html>
