<html>
<head>
    <title>Register</title>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="{{ url_for('static', filename='Css/SubTabs.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='Css/Global.css') }}">
</head>
<body>
    <div class = "Header">
        <a href="/templates/books.html">
            <button>Browse Books</button>
        </a>

        <a href="/login">
            <button>Sign In</button>
        </a>

        <a href="/register">
            <button>Register</button>
        </a>
    </div>

    <h1>Register</h1>
    <form id="register-form" >

        <div class = "Login">
            <label class = "LoginBetween">Username: <input type="text" name="username" required></label><br><br>
            <label>Password: <input type="password" name="password" required></label><br><br>
            <label>Email: <input type="email" name="email" required></label><br><br>
            <label class = "LoginBetween">Role:
                <select name="role"><!-- For now option to be member or staff will be a drop down -->
                    <option value="member">Member</option>
                    <option value="staff">Staff</option>
                </select>
            </label><br><br>
            <div class = "LoginButton">
                <button type="submit">Register</button>
            </div>
        </div>
    </form>

    <p id="response"></p>

    <script>
        document.getElementById("register-form").addEventListener("submit", async function (e) {
            e.preventDefault();
            const formData = new FormData(e.target);
            const payload = Object.fromEntries(formData);
            const res = await fetch("http://localhost:5000/register", {
                method: "POST",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify(payload)
            });
            const result = await res.json();
            document.getElementById("response").innerText = result.message;
        });
    </script>
</body>
</html>
